* {
  box-sizing: border-box;
}

#sudoku-grid {
  display: inline-block;
  border: 3px solid black;
  margin: 2em;
}

#sudoku-grid span {
  display: inline-block;
  border: 1px solid grey;
}

.sudoku-block {
  border-collapse: collapse;
}

.sudoku-cell {
  border: 1px solid grey;
  height: 42px;
  width: 42px;
}

.sudoku-cell__input {
  border: none;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  font-size: 26px;
}
